@charset "UTF-8";
* {
  margin: 0;
}
html, body {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  display: grid;
  place-items: center;
  color: #E1E1E6;
  font-family: 'Poppins', sans-serif;
  background-color: #121214;
}
main {
  background: url(images/Mobile.png) no-repeat center/cover;
  width: 100vw;
  height: 100vw;
  min-height: 812px;
  border-radius: 1.25rem;
}
@media (max-width: 720px) {
  .faixa {
    display: none;
  }
}
@media (min-width: 720px) {
  /*For tablet screens*/
  main {
    max-width: 23.4rem;
    max-height: 50.75rem;
  }
  .faixa {
    display: none;
  }
}
@media (min-width: 960px) {
  /*FOr desktop screens*/
  h1#user_name {
    font-size: 15pt;
  }
  p#user_bio {
    justify-content:flex-start;
  }
  ul {
    position: relative;
    top: -50px;
  }
  .faixa {
    display: grid;
    position: absolute;
    top: 0;
    margin: auto;
  }
  main {
    background: url(images/desktopbackground.png) no-repeat center/cover;
    width: 100vw;
    height: 541px;
    min-height: 541px;
    display: grid;
    place-content: center;
    position: absolute;
    top: 140px;
  }
  .container {
    position: relative;
    top: -40px;
  }
}
.container {
  max-width: 15.6rem;
  margin: auto;
  text-align: center;
}
.avatar {
  margin: 11.5rem auto 0;
  width: 10rem;
  position: relative;
}
.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}
.avatar > img {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 52% 100%, 0 75%, 0 25%);
  width: 10rem;
  height: 11.5rem;
}
h1 {
  margin-top: 1.5rem;
  font-size: 1.8rem;
}
a {
  margin-top: 0.25rem;
  text-decoration: none;
  color: #E1E1E6;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}
p {
  margin-top: 2rem;
  font-size: 0.9rem;
}
ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
img {
  border-radius: 10px;
}
